/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
	font-family: 'Roboto Condensed', sans-serif;
}

body{
	background-repeat: no-repeat;
	background-size:  cover;
    background-color: #e1e3e6;
    background-image: linear-gradient(to right, #303845,#4a5463);
    height: 980px;
}

.warning{
    width: 60%;
    height: 65px;
    background-color:  red;
    background-image: linear-gradient(to right, #63152f, #82304b);
    animation: pulse 3s infinite;
    border-width: 0;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -70px;
    justify-content: center;
    text-align:  center;
    display: block;
    box-shadow: 0 0 20px #121212;
    
}

.warning:hover{
    cursor: pointer;
}

.warning_text{
    font-size: 26px;
    font-family: 'Righteous', cursive;
    color: #c9c9c9;
    text-shadow: 2px 2px #121212;
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
}

/* FIM DO RESET CSS */
.center{

    width: 1280px;
    margin: 20px auto;
    justify-content: center;
    text-align:  center;
    display: block; 
    height: 780px;
    background-color: #4a5463;
    background-image: linear-gradient(to right, #303845,#4a5463);
    border-radius: 25px;
    box-shadow: 0 0 20px #121212;
    margin-top: 100px;

}

.background{
    position: absolute;
    width: 1280px;
    height: 780px;
    background-image: url('../images/bck2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: 0.3;
    border-radius: 25px;
    box-shadow: 0 0 20px #121212;

}

.title_div{
    background-color: #dedede;
    background-image: linear-gradient(to right, #4d081f, #3b0416);
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 5px;
    border-radius: 25px 25px 0 0;
    opacity: 1;
}

.title_text{
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #c9c9c9;
    font-size:  48px;
    text-shadow: 3px 3px #121212;
}

.content{
    position: absolute;
    margin: 0 auto;
    height: 780px;
    border-radius: 0 0 25px 25px;
    width: 1280px;
    margin-top: 25px;
}

.searchBar{
    width: 95%;
    height: 50px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.85;
}

.pesquisa{
    width: 85%;
    height: 100%;
    float: left;
    margin: 0 auto;
}

.pesquisaBtn{

    width: 5%;
    height: 100%;
    float: left;
    margin: 0 auto;
    background-color: transparent;
    border-width: 0;

}

.pesquisaInput{
    margin-top: 8px;
    margin-right: 30px;
    font-size: 20px;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #121212;
    padding: 8px;
    background-color: #dedede;
}

.pesquisaImg{
    width: 100%;
}

.pesquisaBtn:hover{
    cursor: pointer;
    animation: pulse 1s infinite;
}

.tabela{
    width: 95%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    text-align: center;
    opacity: 0.85;
    box-shadow: 0 0 20px #121212;

}

.coluna_head{
    background-image: linear-gradient(to right, #4d081f, #3b0416);
    width: 10%;
}

#coluna_head_btn{
    width: 5%;
}

.coluna_body{
    background-image: linear-gradient(to right, #303845,#353d4a);
    text-align: justify;
    vertical-align: middle;
    font-size: 14px;
    width: 10%;
}

#coluna_body_btn{
    text-align: center;
    width: 5%;
}

.coluna_body_clicavel{
    width: 90%;

}

.coluna_body_imagem{
    max-width: 50%;
}

.coluna_body_imagem:hover{
    animation: up 3s normal;
}


tr, td, th{
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    color: #c9c9c9;
}

th{
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px #121212;
}

tr, td, th{
    padding: 10px;
}

.button_line{
    width: 100%;
    margin: 0 auto;
    display: flex;
    float: left;
    margin-bottom: 15px;
}

.buttons{
    width: 50%;
    margin: 0 auto;
    float: left;
}

.btn{
    animation: pulse 3s infinite;
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    border-width: 0px;
    box-shadow: 10px 10px 20px #121212;
    font-weight: 300;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #82304b, #63152f);
    text-shadow: 3px 3px #121212;
    opacity: 0.98;
    padding: 9px 10px;
    width: 40%;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #63152f, #82304b);
    color: #c9c9c9;
    text-shadow: 2px 2px #121212;
}

@keyframes pulse{

    0%{
        transform: scale(0.96);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.96);
    }

}

@keyframes expand{

    0%{
        transform: scale(1.08);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.08);
    }


}

@keyframes up{

    0%{
        transform: scale(1.00);
    }
    10%{
        transform: scale(1.01);
    }
    20%{
        transform: scale(1.02);
    }
    30%{
        transform: scale(1.03);
    }
    40%{
        transform: scale(1.04);
    }
    50%{
        transform: scale(1.05);
    }
    60%{
        transform: scale(1.06);
    }
    70%{
        transform: scale(1.07);
    }
    80%{
        transform: scale(1.08);
    }
    90%{
        transform: scale(1.09);
    }
    100%{
        transform: scale(1.10);
    }


}