/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
	font-family: 'Roboto Condensed', sans-serif;
}

body{
	background-repeat: no-repeat;
	background-size:  cover;
    background-color: #e1e3e6;
    background-image: linear-gradient(to right, #303845,#4a5463);
}

/* FIM DO RESET CSS */

.center{
    width: 980px;
    margin: 100px auto;
    justify-content: center;
    text-align:  center;
    display: block; 
    height: 780px;
    background-color: #4a5463;
    background-image: linear-gradient(to right, #303845,#4a5463);
    border-radius: 25px;
    box-shadow: 0 0 20px #121212;
}

.background{
    position: absolute;
    width: 980px;
    height: 780px;
    background-image: url('../images/gym1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: 0.3;
    border-radius: 25px;
    box-shadow: 0 0 20px #121212;

}

.title_div{
    background-color: #4d081f;
    background-image: linear-gradient(to right, #4d081f, #3b0416);
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 5px;
    border-radius: 25px 25px 0 0;
    opacity: 1;
}

.title_text{
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size:  48px;
    text-shadow: 3px 3px #121212;
}


.option_button{
    margin-top: 15%;
}

.content{
    position: absolute;
    margin: 0 auto;
    height: 660px;
    border-radius: 0 0 25px 25px;
    width: 980px;
}

.option{
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
}

.button{
    width: 35%;
    padding: 20px 20px;
    font-family: 'Righteous', cursive;
    font-size: 32px;
    letter-spacing: 1px;
    border-radius: 25px;
    border-width: 0px;
    box-shadow: 10px 10px 20px #121212;
    font-weight: 300;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #82304b, #63152f);
    text-shadow: 3px 3px #121212;
    opacity: 0.98;
}

.option:hover{
    cursor: default;
}
.button:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #63152f, #82304b);
    color: #c9c9c9;
    text-shadow: 2px 2px #121212;
    animation: pulse 1s infinite;
}


@keyframes pulse{

    0%{
        transform: scale(0.95);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.95);
    }


}