<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

		<link rel="icon" th:href="@{../images/muscle.png}" type="image/gif" sizes="32x32">
		<link th:href="@{../css/pagamentos.css}" rel="stylesheet" />


		<title>Cartage | Pagamentos</title>

	</head>

	<body id="body">

		<div th:if="${StatusCadastro}" id="warning" class="warning" onclick="disableWarning()">
			<p class="warning_text" th:text="${StatusCadastro}"></p>
		</div>

		<div class="center" id="center">

				<div class="background" id="background">
				</div>

				<div class="title_div">
					<h1 class="title_text">Histórico de pagamentos</h1>
				</div>

				<div class="content" id="content">

					<form class="searchBar" th:action="${pagamentos}" th:object="${pagamento}" method="POST">

						<div class="pesquisa">

							<input type="text" class="pesquisaInput" placeholder="Pesquisa por CPF..." name="cpf"  oninput="estadoBotao()" id="pesquisaInputCpf"/>
							<input type="text" class="pesquisaInput" placeholder="Pesquisa por RG..." name="rg"  oninput="estadoBotao()" id="pesquisaInputRg"/>

						</div>	

						<button type="submit" class="pesquisaBtn" disabled="true", id="pesquisaBtn">
							<img th:src="@{images/spelling.png}"class ="pesquisaImg" alt="Pesquisar"/>
						</button>

						<a th:href="@{/pagamentos}">
							<button type="button" class="pesquisaBtn" disabled="true", id="pesquisaBtn">
								<img th:src="@{images/all.png}" class ="pesquisaImg" alt="Listar todos"/>
							</button>
						</a>

					</form>	

					<table class="tabela" id="tabela">
						<thead>
							<tr class="linha">
								<th class="coluna_head">Bruto</th>
								<th class="coluna_head">Desconto</th>
								<th class="coluna_head">Líquido</th>
								<th class="coluna_head">Data</th>
								<th class="coluna_head">Modalidade</th>
								<th class="coluna_head">Forma pgto.</th>
								<th class="coluna_head">Cliente</th>
								<th class="coluna_head" id="coluna_head_btn">Editar</th>
								<th class="coluna_head" id="coluna_head_btn">Ver</th>
								<th class="coluna_head" id="coluna_head_btn">Excluir</th>
							</tr>	
						</thead>	

						<div th:unless="${teste}">

							<tbody th:each="pagamento : ${pagamentosAll}">

								<tr class="linha">

									<td th:text="'R$ ' + ${pagamento.valor + pagamento.desconto}" class="coluna_body">...</td>
									<td th:text="'R$ ' + ${pagamento.desconto}" class="coluna_body">...</td>
						         	<td th:text="'R$ ' + ${pagamento.valor}" class="coluna_body">...</td>
									<td th:text="${pagamento.vencimento}" class="coluna_body">...</td>
						         	<td th:text="${pagamento.modalidade.descricao}" class="coluna_body">...</td>
									<td th:text="${pagamento.formaPagamento.descricao}" class="coluna_body">...</td>
						         	<td th:text="${pagamento.cliente.nome} + ' ' + ${pagamento.cliente.sobrenome}" class="coluna_body">...</td>

									<td class="coluna_body" id="coluna_body_btn">
										<a th:href="@{/pagamentos/edit-{id}(id = ${pagamento.id})}" class="coluna_body_clicavel">
											<image th:src="@{images/exchange.png}" class="coluna_body_imagem"/>
										</a>
									</td>								

									<td class="coluna_body" id="coluna_body_btn">
										<a th:href="@{/pagamentos/view-{id}(id = ${pagamento.id})}" class="coluna_body_clicavel">
											<image th:src="@{images/eye.png}" class="coluna_body_imagem"/>
										</a>
									</td>				

									<td class="coluna_body" id="coluna_body_btn">
										<form method="POST" th:action="@{del-{id}(id = ${pagamento.id})}" class="coluna_body_clicavel">
											<button type="submit" class="coluna_body_botao">
												<image th:src="@{../images/delete.png}" class="coluna_body_imagem"/>
											</button>
										</form>	
									</td>											

								</tr>
							</tbody>
						</div>

						<div th:if="${teste}">

							<tbody th:each="pagamento : ${pagamentosAll}">

								<tr class="linha">

									<td th:text="'R$ ' + ${buscado.valor + buscado.desconto}" class="coluna_body">...</td>
									<td th:text="'R$ ' + ${buscado.desconto}" class="coluna_body">...</td>
						         	<td th:text="'R$ ' + ${buscado.valor}" class="coluna_body">...</td>
									<td th:text="${buscado.vencimento}" class="coluna_body">...</td>
						         	<td th:text="${buscado.modalidade.descricao}" class="coluna_body">...</td>
									<td th:text="${buscado.formaPagamento.descricao}" class="coluna_body">...</td>
						         	<td th:text="${buscado.cliente.nome} + ' ' + ${buscado.cliente.sobrenome}" class="coluna_body">...</td>

									<td class="coluna_body" id="coluna_body_btn">
										<a th:href="@{/pagamentos/edit-{id}(id = ${pagamento.id})}" class="coluna_body_clicavel">
											<image th:src="@{images/exchange.png}" class="coluna_body_imagem"/>
										</a>
									</td>								

									<td class="coluna_body" id="coluna_body_btn">
										<a th:href="@{pagamentos/view-{id}(id = ${pagamento.id})}" class="coluna_body_clicavel">
											<image th:src="@{images/eye.png}" class="coluna_body_imagem"/>
										</a>
									</td>				

									<td class="coluna_body" id="coluna_body_btn">
										<form method="POST" th:action="@{del-{id}(id = ${pagamento.id})}" class="coluna_body_clicavel">
											<button type="submit" class="coluna_body_botao">
												<image th:src="@{../images/delete.png}" class="coluna_body_imagem"/>
											</button>
										</form>	
									</td>											

								</tr>

							</tbody>

						</div>

					</table>

					<div class="button_line">
						<div class="buttons">
							<a th:href="@{/home}">
								<button type="button" class="btn" id="btn_volta">VOLTAR</button>
							</a>
						</div>
					</div>

				</div>	

		<script type="text/javascript" th:src="@{../js/pagamentos.js}"defer></script>
	</body>
</html>